@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');


.card {
    border: none;
    border-radius: 15px
}

.adiv {
    background: #38c172;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    height: 46px
}

img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.fas {
    cursor: pointer
}

.fa-chevron-left {
    color: whitesmoke
}

small {
    font-size: 10px;
    color: #898989
}

.form-control {
    border: none;
    background: #F6F7FB;
    font-size: 12px
}

.form-control:focus {
    box-shadow: none;
    background: #F6F7FB
}

.form-control::placeholder {
    font-size: 12px;
    color: #B8B9BD
}



p.mt-3 {
    font-size: 11px;
    color: #B8B9BD;
    cursor: pointer
}
